@import "../../css/mixins";

.preference {
  box-sizing: border-box;
  height: calc(100% - var(--size-modal-header-height));
  padding: 30px var(--size-side-padding) 50px;
  user-select: none;
  @include scroll-area();
  > fieldset {
    margin: 0;
    padding: 0;
    border: none;
    > * {
      margin: 32px 0 0;
    }
    > legend {
      font-size: 0;
      visibility: hidden;
      & + * {
        margin-top: 0;
      }
    }
  }
}

.preference-header {
  --header-height: var(--size-modal-header-height);
}

.field {
  &__label {
    margin: 0;
    label {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.42;
    }
  }
  &__description {
    margin: 4px 0 0;
    font-size: 13px;
    color: var(--color-text-gray);
  }
  &__body {
    margin: 12px 0 0;
  }
}

.section {
  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42;
  }
  &__description {
    margin: 4px 0 0;
    font-size: 13px;
    color: var(--color-text-gray);
  }
  ul#{&}__description {
    padding: 0;
    list-style: none;
    > li {
      &:before {
        content: '- ';
      }
    }
  }
  &__body {
    margin: 12px 0 0;
  }
}