@import "../../../css/mixins";

.board-manage {
  --nav-height: 48px;
  padding: 0;
  margin: 0;
  &__body {
    box-sizing: border-box;
    textarea {
      display: block;
      width: 100%;
      height: calc(100vh - var(--header-height) - var(--top-height));
      margin: 0;
      padding: 30px var(--size-side-padding) 120px;
      box-sizing: border-box;
      font-family: var(--font-point);
      font-size: 20px;
      color: var(--color-text-base);
      outline: none;
      line-height: 1.4;
      border: none;
      background: none;
      @include custom-scroll-style();
      @include selection();
      &:empty:before {
        content: attr(data-placeholder);
        color: #777;
      }
    }
  }
  &__nav {
    position: fixed;
    left: 50%;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    width: 240px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 12px rgba(0,0,0,.2);
    margin: 0;
    > * {
      --button-height: var(--nav-height);
    }
  }
  @include responsive(desktop) {
    &__body {
      textarea {
        padding-top: 50px;
        font-size: 24px;
      }
    }
  }
}
