@import "../../../css/mixins";

.board-manage {
  --nav-height: 52px;
  padding: 0;
  margin: 0;
  &__body {
    box-sizing: border-box;
    height: 100%;
    textarea {
      display: block;
      width: 100%;
      margin: 0;
      padding: 30px var(--size-side-padding);
      box-sizing: border-box;
      font-family: var(--font-point);
      font-size: 16px;
      color: var(--color-text-base);
      outline: none;
      line-height: 2;
      height: 100%;
      border: none;
      background: none;
      @include custom-scroll-style();
      @include selection();
      &:empty:before {
        content: attr(data-placeholder);
        color: #777;
      }
    }
  }
  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--nav-height);
    > *:nth-child(n+2) {
      margin-left: 1px;
    }
  }
  @include responsive(desktop) {
    &__body {
      textarea {
        padding: 50px calc(var(--size-side-padding) * 2) 150px;
      }
    }
    &__nav {
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
      width: 320px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 1px 12px rgba(0,0,0,.2);
    }
  }
}
