.empty {
  user-select: none;
  &__icon {
    display: block;
    margin: 0 auto;
    --icon-color: var(--color-text-base);
    --icon-size: 44px;
    --icon-stroke-width: 1px;
  }
  &__description {
    margin: 12px 0 0;
    font-size: 13px;
    color: var(--color-text-gray);
  }
}
