@import "../../css/mixins";

.modal-wrapper {
  position: fixed;
  z-index: var(--modal-z-index, 9999);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-bg);
  &__body {
    height: 100%;
  }
  @include responsive(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-bg-rgba),.75);
    cursor: zoom-out;
    &__body {
      position: relative;
      width: 42vw;
      max-width: 480px;
      min-height: 50vh;
      max-height: 640px;
      height: 75vh;
      background-color: #fff;
      box-shadow: 0 1px 15px rgba(0,0,0,.25);
      border-radius: 2px;
      overflow: hidden;
      cursor: auto;
    }
  }

  @include dark-mode() {
    @include responsive(desktop) {
      &__body {
        box-shadow: 0 1px 20px 10px rgba(0,0,0,.3);
        background-color: var(--color-bg);
      }
    }
  }
}
