@import "../../css/mixins";

.modal-header {
  display: flex;
  align-items: center;
  background: var(--color-theme-red);
  height: var(--header-height, 52px);
  &__title {
    flex: 1;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-left: var(--size-side-padding);
    user-select: none;
  }
  &__nav {
    > button {
      --button-width: var(--header-height, 52px);
      --button-height: var(--header-height, 52px);
      --stroke-width: 1.5px;
      --color: #fff;
    }
  }
}
