@import "../../../css/mixins";

.board-list {
  --header-height: var(--size-modal-header-height);
  --filter-height: 52px;
  height: 100%;
  &__control {
    display: flex;
    align-items: center;
    height: var(--filter-height);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    padding: 0 var(--size-side-padding);
    background-color: var(--color-content-bg);
  }
  &__filter {
    display: flex;
    align-items: center;
    height: 100%;
    user-select: none;
    border: none;
    margin: 0;
    padding: 0;
    > legend {
      font-size: 0;
    }
    > label {
      --select-height: 32px;
      display: flex;
      align-items: center;
      &:nth-child(n+3) {
        margin-left: 12px;
      }
      > span {
        display: block;
        font-size: 14px;
        line-height: 1.2;
        margin: 0 5px 0 0;
      }
    }
  }
  &__body {
    height: calc(100% - var(--header-height) - var(--filter-height));
    box-sizing: border-box;
    padding: 30px var(--size-side-padding);
    @include scroll-area();
  }
  &__title {
    margin: 0;
    font-size: 0;
  }
  &__index {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      &:nth-child(n+2) {
        margin-top: 10px;
      }
    }
  }
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    > .loading {
      padding-bottom: 40px;
    }
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--header-height) - var(--filter-height));
    box-sizing: border-box;
  }

  @include responsive(desktop) {
    --filter-height: 50px;
    &__index {
      > li {
        &:nth-child(n+2) {
          margin-top: 8px;
        }
      }
    }
  }
}

.header-button {
  --button-width: var(--header-height);
  --button-height: var(--header-height);
  --icon-stroke-width: 1.5px;
  --icon-color: #fff;
  --icon-size: 20px;
  margin-right: -2px;
}
