@import "../../../css/mixins";

.item {
  position: relative;
  display: block;
  width: 100%;
  background-color: #eee;
  padding: 0;
  margin: 0;
  height: var(--item-height, 54px);
  box-sizing: border-box;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity var(--speed-button-active) ease-out;
  border: none;
  @include button-touch-options(true);
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--size-side-padding);
    box-sizing: border-box;
    height: 100%;
    text-align: left;
  }
  .label {
    flex: 1;
    font-style: normal;
  }
  .percent {
    font-style: normal;
    font-size: 12px;
  }
  &:disabled {
    background-color: var(--color-theme-green);
    cursor: default;
    &:active {
      opacity: 1;
    }
    .label {
      color: var(--color-text-light);
    }
  }
  &--today {
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: inset 0 0 0 2px var(--color-theme-red);
      border-radius: 2px;
      pointer-events: none;
    }
  }

  @include dark-mode() {
    background-color: #181818;
    &:disabled {
      background-color: var(--color-theme-green);
    }
  }
}
