@import "../../../css/mixins";

.board-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f0f0;
  padding: 0 var(--size-side-padding);
  height: var(--item-height, 54px);
  box-sizing: border-box;
}
