@import "../../css/mixins";

.button-basic {
  display: block;
  width: 100%;
  height: var(--button-height, 52px);
  box-sizing: border-box;
  background-color: var(--color-theme-green, #222);
  color: var(--button-text-color, #fff);
  font-size: 16px;
  font-weight: 400;
  border: none;
  transition: filter var(--speed-background-color);
  @include button-touch-options(false);
  &:active {
    filter: brightness(120%);
  }
  &--skin {
    &-dark {
      background-color: var(--color-theme-dark-gray);
    }
  }
  &--inline {
    width: auto;
    padding-left: var(--size-side-padding);
    padding-right: var(--size-side-padding);
  }

  @include dark-mode() {
    &:active {
      filter: brightness(80%);
    }
  }
}
