@import "../../../css/mixins";

.add-item {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid var(--color-theme-green);
  height: 30vw;
  min-height: 120px;
  max-height: 160px;
  border-radius: 2px;
  box-sizing: border-box;
  @include button-touch-options(false);
  &__icon {
    --icon-stroke-width: 1px;
    --icon-color: var(--color-theme-green);
    --icon-size: 44px;
    display: block;
    margin: auto;
  }
}
