@import "../../css/mixins";

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: var(--header-height, 52px);
  background: var(--color-theme-red);
  &__title {
    margin: 0;
    padding: 0 0 0 var(--size-side-padding);
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.42;
    color: var(--header-fill, #fff);
    @include text-single-line();
  }
  &__nav {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    &.right {
      margin-right: 8px;
    }
  }
}
