@import "../../css/mixins";

.header {
  display: flex;
  align-items: center;
  height: var(--header-height, 52px);
  background: var(--color-theme-red);
  &__title {
    margin: 0;
    padding: 0 0 0 16px;
    flex: 1;
    font-family: var(--font-point);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.42;
    color: var(--header-fill, #fff);
    @include text-single-line();
  }
  &__nav {
    display: flex;
    height: 100%;
    box-sizing: border-box;
  }
}
