@import "../../../css/mixins";

.board-item-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-content-bg);
  box-shadow: 0 -1px 12px 0 rgba(0,0,0,.15);
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  &__edit {
    --button-width: auto;
    --button-height: 100%;
    --icon-size: 20px;
    --icon-color: var(--color-theme-green);
    --icon-stroke-width: 1.5px;
    padding: 0 16px;
    margin-left: -16px;
    &:disabled {
      cursor: default;
      --icon-color: #999;
      &:active {
        opacity: 1;
      }
    }
  }
  &__graph {
    position: relative;
    flex: 1;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
    i {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: var(--color-theme-green);
      transition: width 200ms ease-out;
      width: var(--width, 0);
    }
  }
  &__percent {
    margin: 0 0 0 16px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -.25px;
    user-select: none;
  }

  @include responsive(desktop) {
    position: fixed;
    left: 50%;
    bottom: 30px;
    right: auto;
    width: 680px;
    transform: translateX(-50%);
    padding: 0 30px;
  }
  @include dark-mode() {
    &__graph {
      background-color: #252525;
    }
    &__edit {
      &:disabled {
        --icon-color: #555;
      }
    }
  }
}
