@import "../../../css/mixins";

.board-item__body {
  --size-margin-vertical: 2rem;

  font-family: var(--font-point);
  font-size: 16px;
  line-height: 1.6;

  &, & * {
    @include selection();
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    font-weight: 600;
  }
  h1, h2 { margin: 2.5rem 0 1.5rem; font-weight: 800; }
  h3, h4 { margin: 2rem 0 1.25rem; font-weight: 700; }
  h5, h6 { margin: 1.5rem 0 1rem; }
  h1 { font-size: 2em; letter-spacing: -1px; }
  h2 { font-size: 1.75em; letter-spacing: -.75px; }
  h3 { font-size: 1.5em; letter-spacing: -.5px; }
  h4 { font-size: 1.25em; letter-spacing: -.25px; }
  h5 { font-size: 1em; }
  h6 { font-size: .9375em; }
  p {
    margin: var(--size-margin-vertical) 0;
  }
  ul, ol {
    margin: var(--size-margin-vertical) 0;
    padding-left: 1.5rem;
  }
  ul {
    .checkbox-item {
      list-style: none;
      margin: 0 0 0 -20px;
      input {
        vertical-align: middle;
        margin-right: 3px;
        margin-top: -2px;
      }
    }
    p {
      margin: 0;
    }
  }
  a {
    color: var(--color-theme-green);
    word-break: break-all;
  }
  img {
    display: block;
    margin: calc(var(--size-margin-vertical) * 2.5) auto var(--size-margin-vertical);
    max-width: 100%;
  }
  h1, h2, h3 {
    & + * > img:first-child,
    & + img {
      margin-top: 1rem;
    }
  }
  hr {
    --size: 1.25em;
    display: block;
    margin: calc(var(--size-margin-vertical) * 2.5) 0;
    padding: 0 0 calc(var(--size) * .5);
    border: none;
    &:after {
      content: '...';
      position: relative;
      display: block;
      top: calc(-1 * calc(var(--size) * .5));
      text-align: center;
      font-family: Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: var(--size);
      text-indent: calc(var(--size) * .5);
      letter-spacing: 8px;
      font-weight: 800;
      line-height: 1;
      color: var(--color-text-base);
    }
  }
  table {
    margin: var(--size-margin-vertical) 0;
    border-collapse: collapse;
    font-size: 14px;
    box-sizing: border-box;
    th, td {
      padding: .5rem 1rem;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    thead {
      th, td {
        background-color: #e9e9e9;
      }
    }
    tbody {
      td {
        word-break: keep-all;
        word-wrap: break-word;
      }
    }
  }
  code {
    word-break: break-word;
    font-size: 92.5%;
    color: var(--color-theme-orange);
  }
  pre {
    margin: var(--size-margin-vertical) 0;
    padding: 1rem;
    background-color: var(--color-content-bg);
    font-size: 15px;
    line-height: 1.5;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    @include scroll-area();
    > code {
      margin: 0;
      padding: 0;
      background: none;
      white-space: pre;
      border-radius: 0;
      color: var(--color-text-base);
      font-size: 1em;
    }
  }
  iframe {
    display: block;
    margin: var(--size-margin-vertical) auto;
    max-width: 100%;
  }
  .iframe {
    position: relative;
    margin: var(--size-margin-vertical) 0;
    padding-bottom: 56.25%; /*16:9*/
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  embed {
    display: block;
    max-width: 100%;
    margin: var(--size-margin-vertical) auto;
    background: var(--color-theme-light-gray);
  }
  blockquote {
    --border-width: 6px;
    position: relative;
    margin: var(--size-margin-vertical) 0;
    padding: 1rem 1rem 1rem calc(1rem + var(--border-width));
    box-sizing: border-box;
    background-color: var(--color-content-bg);
    border-radius: 2px;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid rgba(0,0,0,.025);
      pointer-events: none;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--border-width);
      background: var(--color-theme-orange);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    p, pre, table, ul, ol {
      margin: calc(var(--size-margin-vertical) * .5) 0;
    }
    * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include responsive(max) {
    @include retina() {
      img {
        zoom: .75;
      }
    }
  }
  @include dark-mode() {
    table {
      th, td {
        border-color: #181818;
      }
      thead {
        th, td {
          background-color: #181818;
        }
      }
    }
  }
}