@import "../../../css/mixins";

.board-item {
  --top-height: 44px;
  --bottom-height: 48px;
  --bottom-height-manage: 52px;
  &__top {
    top: var(--header-height);
    height: var(--top-height);
  }
  &__fieldset {
    position: relative;
    &.disabled {
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--color-bg);
        opacity: .5;
      }
    }
  }
  &__body {
    padding: 30px var(--size-side-padding) 60px;
    box-sizing: border-box;
    content-visibility: auto;
    &:after {
      content: '';
      display: block;
      height: var(--bottom-height);
    }
  }
  &__bottom {
    height: var(--bottom-height);
  }
  &__manage {
    height: calc(100vh - var(--header-height) - var(--top-height) - var(--bottom-height-manage));
  }

  @include responsive(desktop) {
    --header-height: 44px;
    &__body {
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 0 150px 0;
      &:after {
        display: none;
      }
    }
    &__bottom {
      border-radius: calc(var(--bottom-height) / 2);
    }
    &__manage {
      height: calc(100vh - var(--header-height) - var(--top-height));
    }
  }
}
