.board-item {
  &__body {
    font-family: var(--font-point);
    font-size: 16px;
    line-height: 1.6;
    &, & * {
      &::selection {
        background: var(--color-theme-green);
        color: var(--color-text-light);
      }
    }
    ul {
      padding-left: 24px;
      .checkbox-item {
        list-style: none;
        margin: 0 0 0 -20px;
        input {
          vertical-align: middle;
        }
      }
      p {
        margin: 0;
      }
    }
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}