main {}

.app-header {
  --header-fill: #fff;
  --header-height: 52px;
  &__button {
    --button-width: 48px;
    --button-height: 100%;
    --icon-stroke-width: 1.5px;
    --icon-size: 20px;
    --icon-color: #fff;
  }
}

.not-support {
  //
}
