@import "nomalize";
@import "mixins";
@import "fonts";

:root {
  // color
  --color-text-base: #222;
  --color-bg: #fff;
  --color-theme-green: #3EBA9B;
  --color-theme-orange: #FEAD34;
  --color-theme-red: #DA3C3D;
  --color-theme-egg: #F5E4AC;
  --color-theme-dark: #1E0413;
  --color-theme-dark-gray: #222;
  --color-theme-light-gray: #F0F0F0;
  // size
  --size-side-padding: 20px;
  // font
  --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-point: 'Arita-buri', Helvetica, Arial, sans-serif;
  --font-console: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  @include dark-mode() {
    //--color-bg: #222;
  }
}

html {
  touch-action: manipulation;
}
body {
  min-width: 320px;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  background: var(--color-bg);
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  color: var(--color-text-base);
}

// modal
.modal-fade {

}
.mode-modal {
  overflow: hidden;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 200ms ease-out;
}
.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}
