$dir: '../assets/fonts';

// font loader
@mixin font-loader-ssamanco($weight-name, $weight)
{
  @font-face {
    font-family: 'Samanco';
    font-style: normal;
    font-weight: $weight;
    src: local('Samanco'),
      url('#{$dir}/BinggraeSamanco-#{$weight-name}.woff') format('woff');
  }
}

@include font-loader-ssamanco('regular', 400);
@include font-loader-ssamanco('bold', 600);
