@import "../../css/mixins";

.box-root {
  --header-height: var(--size-modal-header-height);
  --bottom-height: var(--size-modal-bottom-height);
}

.box-list-header {}

.header-button {
  --button-width: var(--header-height);
  --button-height: var(--header-height);
  --icon-stroke-width: 1.5px;
  --icon-color: #fff;
  --icon-size: 20px;
  margin-right: -2px;
  &.add {
    --icon-size: 24px;
  }
}
