main {
  --header-height: 52px;
}

.app-header {
  --header-fill: #fff;
  &__button {
    --button-width: 48px;
    --button-height: 52px;
    --stroke-width: 1.5px;
    --size: 20px;
    --color: #fff;
  }
}
