$dir: '../assets/fonts';

// font - arita-buri
@mixin font-loader-arita-buri($weight-name, $weight)
{
  @font-face {
    font-family: 'Arita-buri';
    font-style: normal;
    font-weight: $weight;
    src: local('Arita-buri'),
      local('Arita-buri-#{$weight-name}'),
      url('#{$dir}/Arita-buri-#{$weight-name}.woff2') format('woff2');
  }
}

@include font-loader-arita-buri('HairLine', 200);
@include font-loader-arita-buri('Light', 300);
@include font-loader-arita-buri('Medium', 400);
@include font-loader-arita-buri('SemiBold', 500);
@include font-loader-arita-buri('Bold', 600);
